<div class="card-container">
  <figure class="card">
    <div class="card_img">
      <img src="{%IMAGE%}"
        alt="{%NAME%}">
    </div>

    <div class="card_name-box">
      <h2 class="card_name">{%NAME%}</h2>
    </div>

    <div class="card_details">
      <div class="card_details-box">
        <h2 class="card_detail card_location">{%LOCATION%}</h2>
      </div>
    </div>

      <div class="card_link">
        <a href="/details?id={%ID%}" class="card-link">
          <span>Details &rarr;</span>
        </a>
      </div>
  </figure>
</div>